### R ###
# History files
.Rhistory
.Rapp.history

# Config
config.yml

# Input / output files
/Output_Files/*
/sample_data/*

# Random metadata
.DS_Store
.vscode/


# Python
build/
__pycache__/
dist/

#Project Specific
sample_students.csv
sample_test.csv
